.stats-card {
  background: white;
  border-radius: 16px;
  padding: 25px;
  display: flex;
  align-items: center;
  gap: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  transition: 0.3s;
}

.stats-card:hover {
  transform: translateY(-5px);
}

.stats-icon {
  width: 65px;
  height: 65px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 28px;
}

.stats-content h4 {
  color: #6b7280;
  margin-bottom: 8px;
  font-size: 15px;
}

.stats-content h2 {
  color: #111827;
  font-size: 28px;
}

@media (max-width: 480px) {

  .stats-card {
    padding: 20px;
  }

  .stats-icon {
    width: 55px;
    height: 55px;
    font-size: 22px;
  }

  .stats-content h2 {
    font-size: 24px;
  }

}